<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kr.kimchi.obtainMapper">

	<!-- 조달계획 보기_전체 -->
	<select id="obtainAll" resultType="com.kr.kimchi.vo.ObtainVO">
		select * from obtain
	</select>

	<!-- 조달계획 보기_상세 -->
	<select id="obtainSelect" resultType="com.kr.kimchi.vo.ObtainVO">
		select * from obtain 
		where obtain_no = #{obtain_no}
	</select>

	<!-- 조달계획 추가 -->
	<insert id="obtainInsert" parameterType="com.kr.kimchi.vo.ObtainVO">
		insert into obtain
		(ma_id, obtain_quantity, obtain_deliveryDate, obtain_status, obtain_registrationDate,
		 obtain_document, user_id, production_no, partner_taxid) 
		 values
		 (#{ma_id}, #{obtain_quantity}, #{obtain_deliveryDate}, #{obtain_status}, #{obtain_registrationDate},
		  #{obtain_document}, #{user_id}, #{production_no}, #{partner_taxid})
	</insert>

	<!-- 조달계획 수정 -->
	<update id="obtainUpdate" parameterType="com.kr.kimchi.vo.ObtainVO">
		update obtain set 
		obtain_quantity = #{obtain_quantity}, 
		obtain_deliveryDate = #{obtain_deliveryDate}, 
		partner_taxid = #{partner_taxid}
		where obtain_no = #{obtain_no}
	</update>

	<!-- 조달계획 승인 -->
	<update id="obainCheck" parameterType="com.kr.kimchi.vo.ObtainVO">
		update obtain set 
		obtain_status = #{obtain_status},
		obtain_registrationDate = now(),
		obtain_document = #{obtain_document}
		where obtain_no = #{obtain_no}
	</update>


</mapper>